@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = null;
}





<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="~/images/logo.png" type="image/png" />
    <!-- loader-->
    <link href="~/assets/css/pace.min.css" rel="stylesheet" />
    <script src="~/assets/js/pace.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/login.css" rel="stylesheet">
    <link href="~/assets/css/app.css" rel="stylesheet">
    <link href="~/assets/css/icons.css" rel="stylesheet">
    <title>MPCRS-Military Police Control Room Automation System </title>
    <style>
          .card {
            border: 2px solid blue;
  
            border-radius: 25px 25px;

        }
     
    </style>
</head>

<body class="bg-login">
    <!-- wrapper -->
    <div class="wrapper">
        <div class="authentication-forgot d-flex align-items-center justify-content-center">
            <div class="card">
                <div class="card-body">
                    <div class="p-4 rounded  border">
                        <div class="text-center">
                            <img src="~/assets/images/icons/forgot-2.png" width="120" alt="" />
                        </div>
                        <h4 class="mt-5 font-weight-bold">Forgot Password?</h4>
                        <p class="text-muted">Enter your registered UserName to reset the password</p>


                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="my-4">
                                <label asp-for="Input.UserName" class="form-label">User Name</label>
                                <input asp-for="Input.UserName" class="form-control" autocomplete="UserName" aria-required="true" placeholder="example@user.com" />

                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary btn-lg">Reset Password</button> <a href="/Identity/Account/Login" class="btn btn-light btn-lg"><i class='bx bx-arrow-back me-1'></i>Back to Login</a>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>